.move-scroll-arrow {
  animation: moveScrollArrow 2s linear infinite;
}

@keyframes moveScrollArrow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
.image {
    transform: rotate(-5deg);
}
.image:hover {
    animation-name: hoverImage;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  @keyframes hoverImage {
    from {
      margin-top: 0;
    }
    to {
      margin-top: -150px;
    }
  }
.top-path {
  clip-path: polygon(0 0, 100% 0, 100% 77%, 70% 90%, 45% 75%, 0 100%);
}
.bottom-path {
  /* height: 20rem; */
  clip-path: polygon(0 100%, 45% 34%, 70% 70%, 100% 0%, 100% 40%, 70.2% 88%, 45% 50%, 0 100%);
  /* clip-path: polygon(0 0, 50% 100%, 100% 0, 100% 100%, 0 100%); */
}

@-webkit-keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
  animation-duration: 500ms;
  animation-iteration-count: 1;
}
.bounceInUp:hover {
  animation-name: scaleButton;
  animation-duration: 200ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes scaleButton {
  0% {
    padding: 0.75rem 3rem;
    font-size: 1.5rem;
  }
  100% {
    padding: 1rem 4rem;
    font-size: 1.75rem;
  }
}

.vision-image {  
  clip-path: polygon(0 0, 100% 0, 100% 100%, 33% 100%);
}

.mission-image {
  clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);
}

.move-ease {
  animation: move 10s ease -5s infinite;
}
.move-ease-in {
  animation: move 15s ease-in -7.5s infinite;
}
.move-ease-in-out {
  animation: move 20s ease-in-out -10s infinite;
}
.move-ease-out {
  animation: move 25s ease-out -12.5s infinite;
}
.move-linear {
  animation: move 30s ease -15s infinite;
}
@keyframes move {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}