@media (min-width: 640px) {
  .min-height-img {
    max-height: 15rem;
  }
}
@media (min-width: 768px) {
  .min-height-img {
    max-height: 25rem;
  }
}
@media (min-width: 1024px) {
  .min-height-img {
    max-height: 35rem;
  }
}
@media (min-width: 1280px) {
  .min-height-img {
    max-height: 100%;
  }
}
