@tailwind base;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind components;
.image:hover {
  animation-name: hoverImage;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes hoverImage {
  from {
    margin-top: 0;
  }
  to {
    margin-top: -20px;
  }
}

@tailwind utilities;
